<div id="container">
    <div id="center">
        <div id="login">
            <div class="tittle">
                Welcome
            </div>
            <div class="subtittle">
                To see our catalogue u have to login
            </div>
            <form id="loginform">
                <input type="text" name="usuario" placeholder="User" required>
                
                <input type="password" placeholder="Password" name="password" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            <div class="pie-form">
                <a href="#">Dont't have an account yet?</a>
            </div>
        </div>

    </div>
</div>
